<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"><h1 style="text-align: center;"><b>Tienda Falsa</b></h1></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/add">
    <mat-icon>library_add</mat-icon>
    <span>Añadir pulicacion</span>
  </button>
  <button mat-menu-item routerLink="/list" >
    <mat-icon>view_list</mat-icon>
    <span>Lista de productos</span>
  </button>
  <button mat-menu-item routerLink="/login" >
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar sesion</span>
  </button>
</mat-menu>

<!--{{title}}<br><br><br><br>-->
<!--one wey binding, es solo taer la informacion del TS al html-->
<!--<input type="text" [(ngModel)]="title">{{title}}<br><br>-->
<!--two wey binding, es comunicar el
html con el TS, es decir llevar info desde html a el TS-->
<!--<input type="button" value="Click me" (click)="accion('s')">-->
<!--<app-listar [variableX]="2222"></app-listar>-->
<div>
  <router-outlet ></router-outlet>
</div>